<a href="https://colab.research.google.com/github/jmohsbeck1/jpmc_mle/blob/final_project/DataDazzlers_DineOracle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library Imports

In [ ]:
import os
import warnings
import itertools
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' 
warnings.filterwarnings('ignore')

In [ ]:
#Dataframe and numerical library
import pandas as pd 
pd.set_option('display.max_columns', None)
import numpy as np

#Visualization
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

# SQLite
import sqlite3

#Machine Learming Model
#Metrics
from sklearn.metrics import mutual_info_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

#Model Selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

#Preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

#Linear Model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge

#Ensemble
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

#Others
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

#Hyper parameter
from sklearn import neighbors, datasets, model_selection

# Data Import

In [ ]:
#STEP 1: Import large dataset using opendatasets
if not os.path.exists('yelp-business-dataset'):
  print("Loading Keys")
  kaggle_key = 'ravikiranbutti'
  kaggle_value = '117268fa41345f39e5baeda66733a0c7'
  os.environ['KAGGLE_USERNAME'] = kaggle_key
  os.environ['KAGGLE_KEY'] = kaggle_value
  !mkdir -p /root/.kaggle
  with open('/root/.kaggle/kaggle.json', 'w') as kaggle_file:
    kaggle_file.write('{"username":"' + kaggle_key + '","key":"' + kaggle_value + '"}')

  print("Loading Data")
  !pip install kaggle
  !kaggle datasets download ravikiranbutti/yelp-business-dataset
  !unzip yelp-business-dataset.zip -d 'yelp-business-dataset'
  !rm yelp-business-dataset.zip

In [ ]:
#STEP 2: Load Business using chunk processing
business_chunks = pd.read_json("yelp-business-dataset/yelp_academic_dataset_business.json", lines=True, chunksize=1000000)
business = pd.concat(business_chunks)

In [ ]:
#Print information
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

# Data Cleaning

In [ ]:
#Select only the restaurant
business = business[business['categories'].str.contains('Restaurants', na=False)]
business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52268 entries, 3 to 150340
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   52268 non-null  object
 1   name          52268 non-null  object
 2   address       52268 non-null  object
 3   city          52268 non-null  object
 4   state         52268 non-null  object
 5   postal_code   52268 non-null  object
 6   latitude      52268 non-null  float64
 7   longitude     52268 non-null  float64
 8   stars         52268 non-null  float64
 9   review_count  52268 non-null  int64
 10  is_open       52268 non-null  int64
 11  attributes    51703 non-null  object
 12  categories    52268 non-null  object
 13  hours         44990 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 6.0+ MB

In [ ]:
# Drop unimportant columns
business = business.drop(['business_id','name','address','latitude','longitude','hours'], axis=1)
business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52268 entries, 3 to 150340
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          52268 non-null  object
 1   state         52268 non-null  object
 2   postal_code   52268 non-null  object
 3   stars         52268 non-null  float64
 4   review_count  52268 non-null  int64
 5   is_open       52268 non-null  int64
 6   attributes    51703 non-null  object
 7   categories    52268 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.6+ MB

In [ ]:
business.head()

,city,state,postal_code,stars,review_count,is_open,attributes,categories
3,Philadelphia,PA,19107,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
5,Ashland City,TN,37015,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
8,Affton,MO,63123,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr..."
9,Nashville,TN,37207,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
11,Tampa Bay,FL,33602,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks"

# Data Preprocessing - Attributes Column

In [ ]:
from pandas.io.json import json_normalize

# Use json_normalize() function to normalize the JSON column
normalized_df = json_normalize(business['attributes'])

# Merge the new DataFrame with the original DataFrame and fill missing values with 0
business_normalized = pd.concat([business, normalized_df], axis=1)
business_normalized.fillna(0, inplace=True)

# Set value to 1 if present and 0 if absent
business_normalized[normalized_df.columns] = business_normalized[normalized_df.columns].applymap(lambda x: 1 if x != 0 else 0)

#drop attributes column
business_normalized.drop(columns=['attributes'], inplace=True)

business_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86405 entries, 3 to 52267
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city                        86405 non-null  object
 1   state                       86405 non-null  object
 2   postal_code                 86405 non-null  object
 3   stars                       86405 non-null  float64
 4   review_count                86405 non-null  float64
 5   is_open                     86405 non-null  float64
 6   categories                  86405 non-null  object
 7   RestaurantsDelivery         86405 non-null  int64
 8   OutdoorSeating              86405 non-null  int64
 9   BusinessAcceptsCreditCards  86405 non-null  int64
 10  BusinessParking             86405 non-null  int64
 11  BikeParking                 86405 non-null  int64
 12  RestaurantsPriceRange2      86405 non-null  int64
 13  RestaurantsTakeOut          86405 non-null  int64
 14  ByAppointmentOnly           86405 non-null  int64
 15  WiFi                        86405 non-null  int64
 16  Alcohol                     86405 non-null  int64
 17  Caters                      86405 non-null  int64
 18  RestaurantsAttire           86405 non-null  int64
 19  RestaurantsReservations     86405 non-null  int64
 20  Ambience                    86405 non-null  int64
 21  GoodForKids                 86405 non-null  int64
 22  CoatCheck                   86405 non-null  int64
 23  DogsAllowed                 86405 non-null  int64
 24  RestaurantsTableService     86405 non-null  int64
 25  RestaurantsGoodForGroups    86405 non-null  int64
 26  WheelchairAccessible        86405 non-null  int64
 27  HasTV                       86405 non-null  int64
 28  HappyHour                   86405 non-null  int64
 29  DriveThru                   86405 non-null  int64
 30  NoiseLevel                  86405 non-null  int64
 31  GoodForMeal                 86405 non-null  int64
 32  BusinessAcceptsBitcoin      86405 non-null  int64
 33  Smoking                     86405 non-null  int64
 34  Music                       86405 non-null  int64
 35  GoodForDancing              86405 non-null  int64
 36  BestNights                  86405 non-null  int64
 37  BYOB                        86405 non-null  int64
 38  Corkage                     86405 non-null  int64
 39  BYOBCorkage                 86405 non-null  int64
 40  RestaurantsCounterService   86405 non-null  int64
 41  Open24Hours                 86405 non-null  int64
 42  AgesAllowed                 86405 non-null  int64
 43  DietaryRestrictions         86405 non-null  int64
 44  HairSpecializesIn           86405 non-null  int64
 45  AcceptsInsurance            86405 non-null  int64
dtypes: float64(3), int64(39), object(4)
memory usage: 31.0+ MB

In [ ]:
business_normalized.head()

,city,state,postal_code,stars,review_count,is_open,categories,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,...,BestNights,BYOB,Corkage,BYOBCorkage,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions,HairSpecializesIn,AcceptsInsurance
3,Philadelphia,PA,19107,4.0,80.0,1.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,1,1,...,0,0,0,0,0,0,0,0,0,0
5,Ashland City,TN,37015,2.0,6.0,1.0,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,Affton,MO,63123,3.0,19.0,0.0,"Pubs, Restaurants, Italian, Bars, American (Tr...",1,1,1,...,0,0,0,0,0,0,0,0,0,0
9,Nashville,TN,37207,1.5,10.0,1.0,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",1,1,0,...,0,0,0,0,0,0,0,0,0,0
11,Tampa Bay,FL,33602,4.0,10.0,1.0,"Vietnamese, Food, Restaurants, Food Trucks",1,1,1,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection - Attributes Column

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif

#NOTE: Add to sample it because of memory restrictions
business_feature_selection = business_normalized.sample(n=25000, random_state=42)

# Separate the features and the target variable
X = business_feature_selection.drop(['is_open','categories'], axis=1)
y = business_feature_selection['is_open']

# Assume df is the original dataframe with non-numerical columns
# Get all non-numericafal columns and perform one-hot encoding
non_numeric_cols = list(business_feature_selection.select_dtypes(exclude=['number', 'bool']).columns)
one_hot_encoded = pd.get_dummies(business_feature_selection[non_numeric_cols])

# Combine one-hot encoded columns with numerical columns
numerical_cols = list(business_feature_selection.select_dtypes(include=['number', 'bool']).columns)
X = pd.concat([business_feature_selection[numerical_cols], one_hot_encoded], axis=1)

# Select the top 10 features using f_classif score
selector = SelectKBest(score_func=f_classif, k=20)
X_new = selector.fit_transform(X, y)

# Get the selected feature names
selected_features = X.columns[selector.get_support()]

# Print the selected feature names
print('Selected features:', list(selected_features))

Selected features: ['stars', 'is_open', 'RestaurantsDelivery', 'OutdoorSeating', 'BusinessAcceptsCreditCards', 'BusinessParking', 'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'WiFi', 'Alcohol', 'RestaurantsAttire', 'RestaurantsReservations', 'Ambience', 'GoodForKids', 'RestaurantsGoodForGroups', 'HasTV', 'city_0', 'state_0', 'postal_code_0', 'categories_0']

In [ ]:
#Data cleaning, remove columns already in the business set
selected_features = {item for item in selected_features if not item.startswith('categories')}
selected_features = {item for item in selected_features if not item.startswith('city_')}
selected_features = {item for item in selected_features if not item.startswith('state_')}
selected_features = {item for item in selected_features if not item.startswith('postal_code_')}
index = pd.Index(selected_features)

# select only columns in the Index object
business_normalized = pd.concat([business_normalized['categories'], business_normalized.loc[:, index]], axis=1)
business_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86405 entries, 3 to 52267
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   categories                  86405 non-null  object
 1   BusinessParking             86405 non-null  int64
 2   is_open                     86405 non-null  float64
 3   OutdoorSeating              86405 non-null  int64
 4   RestaurantsPriceRange2      86405 non-null  int64
 5   RestaurantsTakeOut          86405 non-null  int64
 6   WiFi                        86405 non-null  int64
 7   BusinessAcceptsCreditCards  86405 non-null  int64
 8   RestaurantsAttire           86405 non-null  int64
 9   HasTV                       86405 non-null  int64
 10  Ambience                    86405 non-null  int64
 11  GoodForKids                 86405 non-null  int64
 12  RestaurantsGoodForGroups    86405 non-null  int64
 13  RestaurantsReservations     86405 non-null  int64
 14  RestaurantsDelivery         86405 non-null  int64
 15  stars                       86405 non-null  float64
 16  Alcohol                     86405 non-null  int64
dtypes: float64(2), int64(14), object(1)
memory usage: 11.9+ MB

In [ ]:
business_normalized.head()

,categories,BusinessParking,is_open,OutdoorSeating,RestaurantsPriceRange2,RestaurantsTakeOut,WiFi,BusinessAcceptsCreditCards,RestaurantsAttire,HasTV,Ambience,GoodForKids,RestaurantsGoodForGroups,RestaurantsReservations,RestaurantsDelivery,stars,Alcohol
3,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,1.0,1,1,1,1,1,1,1,0,1,1,1,1,4.0,1
5,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",1,1.0,1,1,1,1,1,1,1,1,1,1,1,1,2.0,1
8,"Pubs, Restaurants, Italian, Bars, American (Tr...",1,0.0,1,1,1,1,1,1,1,1,1,1,1,1,3.0,1
9,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",1,1.0,1,1,1,1,0,1,1,1,1,1,1,1,1.5,1
11,"Vietnamese, Food, Restaurants, Food Trucks",1,1.0,1,1,1,1,1,1,1,1,1,1,1,1,4.0,1

# # Data Preprocessing - Categories Column

In [ ]:
# Extract categories column into separate DataFrame
categories_df = business_normalized[['categories']]

# Convert categories column to lowercase and remove leading/trailing white spaces
categories_df['categories'] = categories_df['categories'].str.lower().str.strip()

# Split comma-separated categories into separate columns
categories_df = categories_df['categories'].str.split(',', expand=True)

# Stack the newly created columns
categories_df = categories_df.stack()

# Create dummy variables for each unique category
categories_df = pd.get_dummies(categories_df, prefix='', prefix_sep='')

# Group dummy variables by index and sum them
categories_df = categories_df.groupby(level=0).sum()

# Rename the columns with their original names
categories_df.columns = categories_df.columns.str.replace(' ', 'ct_')

# Group dummy variables by index and sum them
categories_df = categories_df.groupby(level=0).sum()

# Normalize the resulting DataFrame
categories_df = categories_df.div(categories_df.sum(axis=1), axis=0)

#Data cleaning
categories_df = categories_df.applymap(lambda x: 1 if x > 0.0 else 0)
categories_df.drop(columns=['restaurants','ct_restaurants'], inplace=True)

# Merge the new dataframe with the original dataframe
business_normalized = business_normalized.join(categories_df)

#drop categories column
business_normalized.drop(columns=['categories'], inplace=True)

business_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86405 entries, 3 to 52267
Columns: 1140 entries, BusinessParking to yoga
dtypes: float64(1126), int64(14)
memory usage: 754.2 MB

In [ ]:
print(business_normalized.columns.tolist())

['BusinessParking', 'is_open', 'OutdoorSeating', 'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'WiFi', 'BusinessAcceptsCreditCards', 'RestaurantsAttire', 'HasTV', 'Ambience', 'GoodForKids', 'RestaurantsGoodForGroups', 'RestaurantsReservations', 'RestaurantsDelivery', 'stars', 'Alcohol', 'ct_acaict_bowls', 'ct_accessories', 'ct_accountants', 'ct_activect_life', 'ct_acupuncture', 'ct_adult', 'ct_adultct_entertainment', 'ct_advertising', 'ct_afghan', 'ct_african', 'ct_airct_ductct_cleaning', 'ct_airlines', 'ct_airportct_lounges', 'ct_airportct_shuttles', 'ct_airportct_terminals', 'ct_airports', 'ct_amateurct_sportsct_teams', 'ct_americanct_(new)', 'ct_americanct_(traditional)', 'ct_amusementct_parks', 'ct_animalct_shelters', 'ct_antiques', 'ct_apartments', 'ct_appliances', 'ct_appliancesct_&ct_repair', 'ct_aquariums', 'ct_arabic', 'ct_arcades', 'ct_argentine', 'ct_armenian', 'ct_artct_classes', 'ct_artct_galleries', 'ct_artct_museums', 'ct_artct_tours', 'ct_artsct_&ct_crafts', 'ct_artsct_&ct_entertainment', 'ct_asianct_fusion', 'ct_auctionct_houses', 'ct_audio/visualct_equipmentct_rental', 'ct_australian', 'ct_austrian', 'ct_autoct_customization', 'ct_autoct_detailing', 'ct_autoct_glassct_services', 'ct_autoct_loanct_providers', 'ct_autoct_partsct_&ct_supplies', 'ct_autoct_repair', 'ct_automotive', 'ct_axect_throwing', 'ct_bagels', 'ct_bakeries', 'ct_bangladeshi', 'ct_banksct_&ct_creditct_unions', 'ct_barct_crawl', 'ct_barbeque', 'ct_barbers', 'ct_bars', 'ct_bartenders', 'ct_basque', 'ct_batteryct_stores', 'ct_battingct_cages', 'ct_beachct_bars', 'ct_beaches', 'ct_beautyct_&ct_spas', 'ct_bedct_&ct_breakfast', 'ct_beer', 'ct_beerct_bar', 'ct_beerct_gardens', 'ct_beerct_hall', 'ct_beerct_tours', 'ct_belgian', 'ct_beveragect_store', 'ct_bikect_rentals', 'ct_bikect_repair/maintenance', 'ct_bikes', 'ct_bistros', 'ct_boatct_charters', 'ct_boatct_tours', 'ct_boating', 'ct_boccect_ball', 'ct_bodyct_shops', 'ct_books', 'ct_bookstores', 'ct_botanicalct_gardens', 'ct_bowling', 'ct_brasseries', 'ct_brazilian', 'ct_breakfastct_&ct_brunch', 'ct_breweries', 'ct_brewingct_supplies', 'ct_brewpubs', 'ct_bridal', 'ct_british', 'ct_bubblect_tea', 'ct_buddhistct_temples', 'ct_buffets', 'ct_buildingct_supplies', 'ct_burgers', 'ct_burmese', 'ct_busct_tours', 'ct_businessct_consulting', 'ct_businessct_law', 'ct_butcher', 'ct_cabaret', 'ct_cafes', 'ct_cafeteria', 'ct_cajun/creole', 'ct_calabrian', 'ct_cambodian', 'ct_canadianct_(new)', 'ct_candlect_stores', 'ct_candyct_stores', 'ct_cannabisct_clinics', 'ct_cannabisct_dispensaries', 'ct_cantonese', 'ct_carct_dealers', 'ct_carct_sharect_services', 'ct_carct_stereoct_installation', 'ct_carct_wash', 'ct_cardsct_&ct_stationery', 'ct_caribbean', 'ct_carpetct_cleaning', 'ct_casinos', 'ct_caterers', 'ct_champagnect_bars', 'ct_checkct_cashing/pay-dayct_loans', 'ct_cheesect_shops', 'ct_cheesesteaks', 'ct_chickenct_shop', 'ct_chickenct_wings', 'ct_childct_carect_&ct_dayct_care', "ct_children'sct_clothing", 'ct_chinese', 'ct_chiropractors', 'ct_chocolatiersct_&ct_shops', 'ct_christmasct_trees', 'ct_churches', 'ct_cideries', 'ct_cigarct_bars', 'ct_cinema', 'ct_climbing', 'ct_clothingct_rental', 'ct_clubct_crawl', 'ct_cocktailct_bars', 'ct_coffeect_&ct_tea', 'ct_coffeect_&ct_teact_supplies', 'ct_coffeect_roasteries', 'ct_coffeeshops', 'ct_collegesct_&ct_universities', 'ct_colombian', 'ct_comedyct_clubs', 'ct_comfortct_food', 'ct_comicct_books', 'ct_commercialct_truckct_dealers', 'ct_commercialct_truckct_repair', 'ct_communityct_service/non-profit', 'ct_contractct_law', 'ct_contractors', 'ct_conveniencect_stores', 'ct_conveyorct_beltct_sushi', 'ct_cookingct_classes', 'ct_cookingct_schools', 'ct_cosmeticct_surgeons', 'ct_cosmeticsct_&ct_beautyct_supply', 'ct_costumes', 'ct_counselingct_&ct_mentalct_health', 'ct_countertopct_installation', 'ct_countryct_clubs', 'ct_countryct_dancect_halls', 'ct_couriersct_&ct_deliveryct_services', 'ct_cranect_services', 'ct_creperies', 'ct_csa', 'ct_cuban', 'ct_cucinact_campana', 'ct_culturalct_center', 'ct_cupcakes', 'ct_customct_cakes', 'ct_customizedct_merchandise', 'ct_czech', 'ct_damagect_restoration', 'ct_dancect_clubs', 'ct_dancect_schools', 'ct_dancect_studios', 'ct_dayct_spas', 'ct_delicatessen', 'ct_delis', 'ct_dentists', 'ct_departmentct_stores', 'ct_departmentsct_ofct_motorct_vehicles', 'ct_desserts', 'ct_diagnosticct_services', 'ct_dietitians', 'ct_dimct_sum', 'ct_diners', 'ct_dinnerct_theater', 'ct_discountct_store', 'ct_distilleries', 'ct_divect_bars', 'ct_divorcect_&ct_familyct_law', 'ct_djs', 'ct_do-it-yourselfct_food', 'ct_doctors', 'ct_dogct_parks', 'ct_dominican', 'ct_donairs', 'ct_donburi', 'ct_donuts', 'ct_drive-inct_theater', 'ct_drive-thruct_bars', 'ct_drugstores', 'ct_dryct_cleaning', 'ct_dryct_cleaningct_&ct_laundry', 'ct_dumplings', 'ct_easternct_european', 'ct_eatertainment', 'ct_education', 'ct_educationalct_services', 'ct_egyptian', 'ct_electronics', 'ct_electronicsct_repair', 'ct_elementaryct_schools', 'ct_empanadas', 'ct_employmentct_law', 'ct_escapect_games', 'ct_ethiopian', 'ct_ethnicct_food', 'ct_ethnicct_grocery', 'ct_eventct_planningct_&ct_services', 'ct_eyebrowct_services', 'ct_eyelashct_service', 'ct_eyewearct_&ct_opticians', 'ct_falafel', 'ct_familyct_practice', 'ct_farmersct_market', 'ct_farms', 'ct_fashion', 'ct_fastct_food', 'ct_festivals', 'ct_filipino', 'ct_financialct_advising', 'ct_financialct_services', 'ct_firect_departments', 'ct_fireplacect_services', 'ct_fireworks', 'ct_fishct_&ct_chips', 'ct_fishing', 'ct_fitnessct_&ct_instruction', 'ct_fleact_markets', 'ct_flightct_instruction', 'ct_floralct_designers', 'ct_florists', 'ct_flowersct_&ct_gifts', 'ct_fondue', 'ct_food', 'ct_foodct_banks', 'ct_foodct_court', 'ct_foodct_deliveryct_services', 'ct_foodct_stands', 'ct_foodct_tours', 'ct_foodct_trucks', 'ct_french', 'ct_fruitsct_&ct_veggies', 'ct_funeralct_servicesct_&ct_cemeteries', 'ct_furniturect_stores', 'ct_fuzhou', 'ct_gardeners', 'ct_gasct_stations', 'ct_gastropubs', 'ct_gayct_bars', 'ct_gelato', 'ct_gemstonesct_&ct_minerals', 'ct_generalct_dentistry', 'ct_generalct_litigation', 'ct_georgian', 'ct_german', 'ct_giftct_shops', 'ct_gluten-free', 'ct_goct_karts', 'ct_golf', 'ct_golfct_cartct_rentals', 'ct_golfct_equipment', 'ct_golfct_lessons', 'ct_graphicct_design', 'ct_greek', 'ct_grillct_services', 'ct_grillingct_equipment', 'ct_grocery', 'ct_guamanian', 'ct_guestct_houses', 'ct_gun/riflect_ranges', 'ct_gunsct_&ct_ammo', 'ct_gymnastics', 'ct_gyms', 'ct_hairct_extensions', 'ct_hairct_lossct_centers', 'ct_hairct_removal', 'ct_hairct_salons', 'ct_hairct_stylists', 'ct_haitian', 'ct_hakka', 'ct_halal', 'ct_hardwarect_stores', 'ct_hauntedct_houses', 'ct_hawaiian', 'ct_headct_shops', 'ct_healthct_&ct_medical', 'ct_healthct_markets', 'ct_heatingct_&ct_airct_conditioning/hvac', 'ct_herbalct_shops', 'ct_herbsct_&ct_spices', 'ct_hiking', 'ct_himalayan/nepalese', 'ct_hinduct_temples', 'ct_historicalct_tours', 'ct_hobbyct_shops', 'ct_holidayct_decorations', 'ct_homect_&ct_garden', 'ct_homect_cleaning', 'ct_homect_decor', 'ct_homect_organization', 'ct_homect_services', 'ct_homect_theatrect_installation', 'ct_homeownerct_association', 'ct_honduran', 'ct_honey', 'ct_hongct_kongct_stylect_cafe', 'ct_hookahct_bars', 'ct_horsect_racing', 'ct_horsebackct_riding', 'ct_hospitals', 'ct_hostels', 'ct_hotct_dogs', 'ct_hotct_pot', 'ct_hotels', 'ct_hotelsct_&ct_travel', 'ct_hungarian', 'ct_huntingct_&ct_fishingct_supplies', 'ct_iberian', 'ct_icect_creamct_&ct_frozenct_yogurt', 'ct_icect_delivery', 'ct_importedct_food', 'ct_indian', 'ct_indonesian', 'ct_indoorct_playcentre', 'ct_interiorct_design', 'ct_internalct_medicine', 'ct_international', 'ct_internationalct_grocery', 'ct_internetct_cafes', 'ct_internetct_servicect_providers', 'ct_irish', 'ct_irishct_pub', 'ct_irrigation', 'ct_israeli', 'ct_itct_servicesct_&ct_computerct_repair', 'ct_italian', 'ct_izakaya', 'ct_japanese', 'ct_japanesect_curry', 'ct_jazzct_&ct_blues', 'ct_jewelry', 'ct_juicect_barsct_&ct_smoothies', 'ct_junkct_removalct_&ct_hauling', 'ct_karaoke', 'ct_kebab', 'ct_keysct_&ct_locksmiths', 'ct_kidsct_activities', 'ct_kidsct_hairct_salons', 'ct_kiosk', 'ct_kitchenct_&ct_bath', 'ct_kitchenct_incubators', 'ct_kitchenct_supplies', 'ct_kombucha', 'ct_korean', 'ct_kosher', 'ct_lanct_centers', 'ct_landmarksct_&ct_historicalct_buildings', 'ct_landscapect_architects', 'ct_landscaping', 'ct_laotian', 'ct_laserct_tag', 'ct_latinct_american', 'ct_laundromat', 'ct_laundryct_services', 'ct_lawnct_services', 'ct_lawyers', 'ct_lebanese', 'ct_legalct_services', 'ct_leisurect_centers', 'ct_libraries', 'ct_limos', 'ct_live/rawct_food', 'ct_livestockct_feedct_&ct_supply', 'ct_localct_flavor', 'ct_localct_services', 'ct_lounges', 'ct_macarons', 'ct_mags', 'ct_makeupct_artists', 'ct_malaysian', 'ct_marinas', 'ct_marketing', 'ct_massct_media', 'ct_massage', 'ct_massagect_therapy', 'ct_maternityct_wear', 'ct_mattresses', 'ct_meatct_shops', 'ct_medicalct_centers', 'ct_medicalct_spas', 'ct_mediterranean', "ct_men'sct_clothing", "ct_men'sct_hairct_salons", 'ct_mexican', 'ct_middlect_eastern', 'ct_minict_golf', 'ct_mobilect_phonect_repair', 'ct_mobilect_phones', 'ct_modernct_european', 'ct_mongolian', 'ct_moroccan', 'ct_motorcyclect_dealers', 'ct_movers', 'ct_municipality', 'ct_museums', 'ct_musicct_&ct_dvds', 'ct_musicct_&ct_video', 'ct_musicct_productionct_services', 'ct_musicct_venues', 'ct_musicalct_instrumentsct_&ct_teachers', 'ct_musicians', 'ct_nailct_salons', 'ct_nailct_technicians', 'ct_naturopathic/holistic', 'ct_neurologist', 'ct_newct_mexicanct_cuisine', 'ct_newspapersct_&ct_magazines', 'ct_nicaraguan', 'ct_nightlife', 'ct_noodles', 'ct_nurseriesct_&ct_gardening', 'ct_nutritionists', 'ct_officect_cleaning', 'ct_officiants', 'ct_oilct_changect_stations', 'ct_olivect_oil', 'ct_oralct_surgeons', 'ct_organicct_stores', 'ct_oriental', 'ct_outdoorct_furniturect_stores', 'ct_outdoorct_gear', 'ct_outletct_stores', 'ct_packingct_services', 'ct_paddleboarding', 'ct_paintct_&ct_sip', 'ct_painters', 'ct_pakistani', 'ct_panct_asian', 'ct_pancakes', 'ct_parking', 'ct_parks', 'ct_partyct_&ct_eventct_planning', 'ct_partyct_busct_rentals', 'ct_partyct_characters', 'ct_partyct_equipmentct_rentals', 'ct_partyct_supplies', 'ct_pastact_shops', 'ct_patisserie/cakect_shop', 'ct_pawnct_shops', 'ct_pediatricians', 'ct_performingct_arts', 'ct_perfume', 'ct_persian/iranian', 'ct_personalct_assistants', 'ct_personalct_chefs', 'ct_personalct_shopping', 'ct_peruvian', 'ct_pestct_control', 'ct_petct_adoption', 'ct_petct_boarding', 'ct_petct_groomers', 'ct_petct_photography', 'ct_petct_services', 'ct_petct_sitting', 'ct_petct_stores', 'ct_pets', 'ct_pharmacy', 'ct_photographers', 'ct_photographyct_storesct_&ct_services', 'ct_pianoct_bars', 'ct_pickct_yourct_ownct_farms', 'ct_piercing', 'ct_pilates', 'ct_pita', 'ct_pizza', 'ct_playgrounds', 'ct_plumbing', 'ct_poke', 'ct_polish', 'ct_poolct_&ct_billiards', 'ct_poolct_halls', 'ct_pop-upct_restaurants', 'ct_pop-upct_shops', 'ct_popcornct_shops', 'ct_portuguese', 'ct_poutineries', 'ct_preschools', 'ct_pressurect_washers', 'ct_pretzels', 'ct_printct_media', 'ct_privatect_tutors', 'ct_professionalct_services', 'ct_propane', 'ct_propertyct_management', 'ct_psychiatrists', 'ct_publicct_markets', 'ct_publicct_servicesct_&ct_government', 'ct_publicct_transportation', 'ct_pubs', 'ct_puertoct_rican', 'ct_racect_tracks', 'ct_radioct_stations', 'ct_radiologists', 'ct_rafting/kayaking', 'ct_ramen', 'ct_realct_estate', 'ct_realct_estatect_agents', 'ct_realct_estatect_law', 'ct_realct_estatect_services', 'ct_recordingct_&ct_rehearsalct_studios', 'ct_recreationct_centers', 'ct_recyclingct_center', 'ct_reflexology', 'ct_religiousct_items', 'ct_religiousct_organizations', 'ct_resorts', 'ct_restct_stops', 'ct_restaurantct_supplies', 'ct_roadsidect_assistance', 'ct_roman', 'ct_russian', 'ct_rvct_parks', 'ct_rvct_repair', 'ct_salad', 'ct_salvadoran', 'ct_sandwiches', 'ct_sardinian', 'ct_scandinavian', 'ct_scottish', 'ct_screenct_printing/t-shirtct_printing', 'ct_seafood', 'ct_seafoodct_markets', 'ct_securityct_systems', 'ct_selfct_storage', 'ct_senegalese', 'ct_septicct_services', 'ct_serboct_croatian', 'ct_servicect_stations', 'ct_sessionct_photography', 'ct_shanghainese', 'ct_sharedct_officect_spaces', 'ct_shavedct_ice', 'ct_shavedct_snow', 'ct_shippingct_centers', 'ct_shoect_stores', 'ct_shopping', 'ct_shoppingct_centers', 'ct_sicilian', 'ct_singaporean', 'ct_skatect_shops', 'ct_skatingct_rinks', 'ct_skict_resorts', 'ct_skinct_care', 'ct_smogct_checkct_stations', 'ct_smokehouse', 'ct_soccer', 'ct_socialct_clubs', 'ct_solarct_installation', 'ct_somali', 'ct_soulct_food', 'ct_soup', 'ct_southct_african', 'ct_southern', 'ct_souvenirct_shops', 'ct_spanish', 'ct_speakeasies', 'ct_specialct_education', 'ct_specialtyct_food', 'ct_specialtyct_schools', 'ct_spiritualct_shop', 'ct_sportingct_goods', 'ct_sportsct_bars', 'ct_sportsct_betting', 'ct_sportsct_clubs', 'ct_sportsct_wear', 'ct_srict_lankan', 'ct_stadiumsct_&ct_arenas', 'ct_steakhouses', 'ct_streetct_vendors', 'ct_stripct_clubs', 'ct_supernaturalct_readings', 'ct_supperct_clubs', 'ct_sushict_bars', 'ct_swimmingct_pools', 'ct_syrian', 'ct_szechuan', 'ct_tabletopct_games', 'ct_tableware', 'ct_tacos', 'ct_taiwanese', 'ct_tapasct_bars', 'ct_tapas/smallct_plates', 'ct_tastingct_classes', 'ct_taxct_services', 'ct_taxis', 'ct_teact_rooms', 'ct_teamct_buildingct_activities', 'ct_tennis', 'ct_teppanyaki', 'ct_tex-mex', 'ct_thai', 'ct_themedct_cafes', 'ct_threadingct_services', 'ct_thriftct_stores', 'ct_ticketct_sales', 'ct_tikict_bars', 'ct_tires', 'ct_tobaccoct_shops', 'ct_tonkatsu', 'ct_tours', 'ct_towing', 'ct_toyct_stores', 'ct_traditionalct_chinesect_medicine', 'ct_trailerct_repair', 'ct_trainct_stations', 'ct_trainers', 'ct_trains', 'ct_trampolinect_parks', 'ct_transmissionct_repair', 'ct_transportation', 'ct_travelct_agents', 'ct_travelct_services', 'ct_treect_services', 'ct_trinidadian', 'ct_truckct_rental', 'ct_turkish', 'ct_tuscan', 'ct_tutoringct_centers', 'ct_tvct_mounting', 'ct_ukrainian', 'ct_universityct_housing', 'ct_unofficialct_yelpct_events', 'ct_used', 'ct_usedct_bookstore', 'ct_usedct_carct_dealers', 'ct_uzbek', 'ct_vacationct_rentals', 'ct_vapect_shops', 'ct_vegan', 'ct_vegetarian', 'ct_venezuelan', 'ct_venuesct_&ct_eventct_spaces', 'ct_veterinarians', 'ct_videosct_&ct_videoct_gamect_rental', 'ct_vietnamese', 'ct_vintagect_&ct_consignment', 'ct_vinylct_records', 'ct_virtualct_realityct_centers', 'ct_visitorct_centers', 'ct_vitaminsct_&ct_supplements', 'ct_waffles', 'ct_walkingct_tours', 'ct_watches', 'ct_waterct_heaterct_installation/repair', 'ct_waterct_purificationct_services', 'ct_waterct_stores', 'ct_waxing', 'ct_webct_design', 'ct_weddingct_chapels', 'ct_weddingct_planning', 'ct_weightct_lossct_centers', 'ct_whiskeyct_bars', 'ct_wholesalect_stores', 'ct_wholesalers', 'ct_wigs', 'ct_wildlifect_control', 'ct_windshieldct_installationct_&ct_repair', 'ct_winect_&ct_spirits', 'ct_winect_bars', 'ct_winect_tastingct_classes', 'ct_winect_tastingct_room', 'ct_winect_tours', 'ct_wineries', "ct_women'sct_clothing", 'ct_wraps', 'ct_yelpct_events', 'ct_yoga', 'ct_zoos', 'acaict_bowls', 'activect_life', 'adult', 'adultct_education', 'adultct_entertainment', 'afghan', 'african', 'airportct_terminals', 'airports', 'americanct_(new)', 'americanct_(traditional)', 'amusementct_parks', 'apartments', 'appliances', 'aquariums', 'arabic', 'arcades', 'argentine', 'artct_galleries', 'artct_museums', 'artsct_&ct_crafts', 'artsct_&ct_entertainment', 'asianct_fusion', 'autoct_repair', 'automotive', 'bagels', 'bakeries', 'bangladeshi', 'banksct_&ct_creditct_unions', 'barbeque', 'barbers', 'bars', 'bartenders', 'basque', 'beaches', 'beautyct_&ct_spas', 'bedct_&ct_breakfast', 'beer', 'beerct_bar', 'beerct_gardens', 'beerct_tours', 'belgian', 'beveragect_store', 'bikes', 'billingct_services', 'bistros', 'blowct_dry/outct_services', 'boatct_charters', 'boatct_repair', 'boating', 'boccect_ball', 'bodyct_shops', 'books', 'bowling', 'brasseries', 'brazilian', 'breakfastct_&ct_brunch', 'breweries', 'brewingct_supplies', 'brewpubs', 'british', 'bubblect_tea', 'buddhistct_temples', 'buffets', 'burgers', 'burmese', 'busct_tours', 'butcher', 'cabaret', 'cafes', 'cafeteria', 'cajun/creole', 'cambodian', 'canadianct_(new)', 'candyct_stores', 'cannabisct_dispensaries', 'cantonese', 'carct_dealers', 'cardsct_&ct_stationery', 'caribbean', 'casinos', 'caterers', 'champagnect_bars', 'cheesect_shops', 'cheesesteaks', 'chickenct_shop', 'chickenct_wings', "children'sct_clothing", 'chinese', 'chocolatiersct_&ct_shops', 'churches', 'cideries', 'cigarct_bars', 'cinema', 'cocktailct_bars', 'coffeect_&ct_tea', 'coffeect_roasteries', 'coffeeshops', 'collegesct_&ct_universities', 'colombian', 'comedyct_clubs', 'comfortct_food', 'communityct_centers', 'contractors', 'conveniencect_stores', 'cookingct_classes', 'cookingct_schools', 'cosmeticct_surgeons', 'counselingct_&ct_mentalct_health', 'countryct_clubs', 'couriersct_&ct_deliveryct_services', 'creperies', 'cuban', 'culturalct_center', 'cupcakes', 'customct_cakes', 'dancect_clubs', 'dayct_spas', 'delicatessen', 'delis', 'departmentct_stores', 'departmentsct_ofct_motorct_vehicles', 'desserts', 'diagnosticct_imaging', 'dimct_sum', 'diners', 'dinnerct_theater', 'discountct_store', 'distilleries', 'divect_bars', 'do-it-yourselfct_food', 'dominican', 'donairs', 'donuts', 'drugstores', 'easternct_european', 'eatertainment', 'education', 'egyptian', 'empanadas', 'ethicalct_grocery', 'ethiopian', 'ethnicct_food', 'ethnicct_grocery', 'eventct_planningct_&ct_services', 'falafel', 'farmersct_market', 'farms', 'fashion', 'fastct_food', 'festivals', 'filipino', 'financialct_services', 'fishct_&ct_chips', 'fishing', 'fitnessct_&ct_instruction', 'florists', 'flowersct_&ct_gifts', 'fondue', 'food', 'foodct_court', 'foodct_deliveryct_services', 'foodct_stands', 'foodct_tours', 'foodct_trucks', 'french', 'fruitsct_&ct_veggies', 'furniturect_reupholstery', 'garagect_doorct_services', 'gasct_stations', 'gastropubs', 'gayct_bars', 'gelato', 'georgian', 'german', 'giftct_shops', 'gluten-free', 'golf', 'golfct_lessons', 'greek', 'grocery', 'guestct_houses', 'gyms', 'hainan', 'hairct_salons', 'haitian', 'halal', 'hawaiian', 'healthct_&ct_medical', 'healthct_markets', 'healthct_retreats', 'herbsct_&ct_spices', 'himalayan/nepalese', 'historicalct_tours', 'hobbyct_shops', 'homect_&ct_garden', 'homect_decor', 'homect_services', 'honduran', 'hookahct_bars', 'horsebackct_riding', 'hostels', 'hotct_dogs', 'hotct_pot', 'hotelct_bar', 'hotels', 'hotelsct_&ct_travel', 'hungarian', 'iberian', 'icect_creamct_&ct_frozenct_yogurt', 'importedct_food', 'indian', 'indonesian', 'international', 'internationalct_grocery', 'internetct_cafes', 'investing', 'irish', 'irishct_pub', 'italian', 'izakaya', 'jailsct_&ct_prisons', 'japanese', 'japanesect_curry', 'jazzct_&ct_blues', 'juicect_barsct_&ct_smoothies', 'karaoke', 'kebab', 'kitchenct_&ct_bath', 'kombucha', 'korean', 'kosher', 'lahmacun', 'landmarksct_&ct_historicalct_buildings', 'laotian', 'laserct_tag', 'latinct_american', 'leatherct_goods', 'lebanese', 'live/rawct_food', 'localct_flavor', 'localct_services', 'lounges', 'macarons', 'malaysian', 'massage', 'mattresses', 'meatct_shops', 'mediterranean', "men'sct_clothing", 'mexican', 'middlect_eastern', 'mobilect_phonect_repair', 'modernct_european', 'mongolian', 'moroccan', 'movers', 'musicct_venues', 'musicians', 'naturopathic/holistic', 'newct_mexicanct_cuisine', 'newspapersct_&ct_magazines', 'nicaraguan', 'nightlife', 'noodles', 'nurseriesct_&ct_gardening', 'nutritionists', 'officect_cleaning', 'organicct_stores', 'oriental', 'osteopaths', 'outletct_stores', 'paddleboarding', 'painters', 'pakistani', 'panct_asian', 'pancakes', 'parentct_cafes', 'parking', 'parks', 'partyct_&ct_eventct_planning', 'partyct_busct_rentals', 'partyct_supplies', 'pastact_shops', 'patisserie/cakect_shop', 'performingct_arts', 'persian/iranian', 'personalct_chefs', 'personalct_injuryct_law', 'personalc

In [ ]:
business_normalized.head()

,BusinessParking,is_open,OutdoorSeating,RestaurantsPriceRange2,RestaurantsTakeOut,WiFi,BusinessAcceptsCreditCards,RestaurantsAttire,HasTV,Ambience,...,wholesalect_stores,wholesalers,wigs,winect_bars,winect_tastingct_room,winect_tours,wineries,women'sct_clothing,wraps,yoga
3,1,1.0,1,1,1,1,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,1.0,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,0.0,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,1.0,1,1,1,1,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,1.0,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Feature Selection - Categories Column

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif

#NOTE: Add to sample it because of memory restrictions
business_normalized.fillna(0, inplace=True)
business_feature_selection = business_normalized.sample(n=70000, random_state=42)

# Separate the features and the target variable
X = business_feature_selection.drop(['is_open'], axis=1)
y = business_feature_selection['is_open']

# Select the top 10 features using f_classif score
selector = SelectKBest(score_func=f_classif, k=30)
X_new = selector.fit_transform(X, y)

# Get the selected feature names
selected_features = X.columns[selector.get_support()]

# Print the selected feature names
print('Selected features:', set(selected_features))

Selected features: {'BusinessParking', 'ct_coffeect_&ct_tea', 'ct_nightlife', 'RestaurantsTakeOut', 'BusinessAcceptsCreditCards', 'ct_fastct_food', 'ct_burgers', 'Ambience', 'ct_salad', 'ct_eventct_planningct_&ct_services', 'ct_bars', 'stars', 'ct_americanct_(traditional)', 'ct_food', 'fastct_food', 'RestaurantsGoodForGroups', 'RestaurantsReservations', 'RestaurantsDelivery', 'ct_chickenct_wings', 'ct_mexican', 'ct_breakfastct_&ct_brunch', 'ct_pizza', 'RestaurantsPriceRange2', 'WiFi', 'RestaurantsAttire', 'ct_sandwiches', 'GoodForKids', 'HasTV', 'OutdoorSeating', 'Alcohol'}

In [ ]:
# Get a boolean mask indicating which columns were selected
selected_mask = selector.get_support()

# Select the desired columns using the mask
X_selected_columns = X.columns[selected_mask]

# Drop all columns not selected
business_normalized = pd.concat([business_normalized['is_open'], business_normalized[X_selected_columns]], axis=1)
business_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86405 entries, 3 to 52267
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   is_open                             86405 non-null  float64
 1   BusinessParking                     86405 non-null  int64
 2   OutdoorSeating                      86405 non-null  int64
 3   RestaurantsPriceRange2              86405 non-null  int64
 4   RestaurantsTakeOut                  86405 non-null  int64
 5   WiFi                                86405 non-null  int64
 6   BusinessAcceptsCreditCards          86405 non-null  int64
 7   RestaurantsAttire                   86405 non-null  int64
 8   HasTV                               86405 non-null  int64
 9   Ambience                            86405 non-null  int64
 10  GoodForKids                         86405 non-null  int64
 11  RestaurantsGoodForGroups            86405 non-null  int64
 12  RestaurantsReservations             86405 non-null  int64
 13  RestaurantsDelivery                 86405 non-null  int64
 14  stars                               86405 non-null  float64
 15  Alcohol                             86405 non-null  int64
 16  ct_americanct_(traditional)         86405 non-null  float64
 17  ct_bars                             86405 non-null  float64
 18  ct_breakfastct_&ct_brunch           86405 non-null  float64
 19  ct_burgers                          86405 non-null  float64
 20  ct_chickenct_wings                  86405 non-null  float64
 21  ct_coffeect_&ct_tea                 86405 non-null  float64
 22  ct_eventct_planningct_&ct_services  86405 non-null  float64
 23  ct_fastct_food                      86405 non-null  float64
 24  ct_food                             86405 non-null  float64
 25  ct_mexican                          86405 non-null  float64
 26  ct_nightlife                        86405 non-null  float64
 27  ct_pizza                            86405 non-null  float64
 28  ct_salad                            86405 non-null  float64
 29  ct_sandwiches                       86405 non-null  float64
 30  fastct_food                         86405 non-null  float64
dtypes: float64(17), int64(14)
memory usage: 23.1 MB

In [ ]:
business_normalized.head()

,is_open,BusinessParking,OutdoorSeating,RestaurantsPriceRange2,RestaurantsTakeOut,WiFi,BusinessAcceptsCreditCards,RestaurantsAttire,HasTV,Ambience,...,ct_coffeect_&ct_tea,ct_eventct_planningct_&ct_services,ct_fastct_food,ct_food,ct_mexican,ct_nightlife,ct_pizza,ct_salad,ct_sandwiches,fastct_food
3,1.0,1,1,1,1,1,1,1,1,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1,1,1,1,1,1,1,1,1,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,1.0,1,1,1,1,1,0,1,1,1,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1.0,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Basic Data Cleaning
business.columns = business.columns.str.lower().str.replace(' ', '_') # A
 
string_columns = list(business.dtypes[business.dtypes == 'object'].index) # B
 
for col in string_columns:
    business[col] = business[col].astype(str).str.lower().str.replace(' ', '_')

In [ ]:
business_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86405 entries, 3 to 52267
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   is_open                             86405 non-null  float64
 1   BusinessParking                     86405 non-null  int64
 2   OutdoorSeating                      86405 non-null  int64
 3   RestaurantsPriceRange2              86405 non-null  int64
 4   RestaurantsTakeOut                  86405 non-null  int64
 5   WiFi                                86405 non-null  int64
 6   BusinessAcceptsCreditCards          86405 non-null  int64
 7   RestaurantsAttire                   86405 non-null  int64
 8   HasTV                               86405 non-null  int64
 9   Ambience                            86405 non-null  int64
 10  GoodForKids                         86405 non-null  int64
 11  RestaurantsGoodForGroups            86405 non-null  int64
 12  RestaurantsReservations             86405 non-null  int64
 13  RestaurantsDelivery                 86405 non-null  int64
 14  stars                               86405 non-null  float64
 15  Alcohol                             86405 non-null  int64
 16  ct_americanct_(traditional)         86405 non-null  float64
 17  ct_bars                             86405 non-null  float64
 18  ct_breakfastct_&ct_brunch           86405 non-null  float64
 19  ct_burgers                          86405 non-null  float64
 20  ct_chickenct_wings                  86405 non-null  float64
 21  ct_coffeect_&ct_tea                 86405 non-null  float64
 22  ct_eventct_planningct_&ct_services  86405 non-null  float64
 23  ct_fastct_food                      86405 non-null  float64
 24  ct_food                             86405 non-null  float64
 25  ct_mexican                          86405 non-null  float64
 26  ct_nightlife                        86405 non-null  float64
 27  ct_pizza                            86405 non-null  float64
 28  ct_salad                            86405 non-null  float64
 29  ct_sandwiches                       86405 non-null  float64
 30  fastct_food                         86405 non-null  float64
dtypes: float64(17), int64(14)
memory usage: 23.1 MB

# Machine Learning

# Hyperparameter tuning