<a href="https://colab.research.google.com/github/jmohsbeck1/jpmc_mle/blob/data_ananlysis_with_pandas/jm_movie_genre_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import numpy as np

In [13]:
df = pd.read_csv("./csm2.csv")

In [14]:
df.head()

,movie,year,ratings,genre,gross,budget,screens,sequel,sentiment,views,likes,dislikes,comments,followers
0,'13 Sins',2014,6.3,8,9130,4000000,45,1,0,3280543,4632,425,636,1120000
1,'22 Jump Street',2014,7.1,1,192000000,50000000,3306,2,2,583289,3465,61,186,12350000
2,'3 Days to Kill',2014,6.2,1,30700000,28000000,2872,1,0,304861,328,34,47,483000
3,'300: Rise of an Empire',2014,6.3,1,106000000,110000000,3470,2,0,452917,2429,132,590,568000
4,'A Haunted House 2',2014,4.7,8,17300000,3500000,2310,2,0,3145573,12163,610,1082,1923800

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      220 non-null    object
 1   year       220 non-null    int64
 2   ratings    220 non-null    float64
 3   genre      220 non-null    int64
 4   gross      220 non-null    int64
 5   budget     220 non-null    int64
 6   screens    220 non-null    int64
 7   sequel     220 non-null    int64
 8   sentiment  220 non-null    int64
 9   views      220 non-null    int64
 10  likes      220 non-null    int64
 11  dislikes   220 non-null    int64
 12  comments   220 non-null    int64
 13  followers  220 non-null    int64
dtypes: float64(1), int64(12), object(1)
memory usage: 24.2+ KB

In [16]:
df['budget'] = df['budget'].astype('int')

In [17]:
df.fillna(0, inplace=True)

In [18]:
target = df.pop('genre')

In [19]:
df = df.drop('movie', axis=1)

In [20]:
df.head()

,year,ratings,gross,budget,screens,sequel,sentiment,views,likes,dislikes,comments,followers
0,2014,6.3,9130,4000000,45,1,0,3280543,4632,425,636,1120000
1,2014,7.1,192000000,50000000,3306,2,2,583289,3465,61,186,12350000
2,2014,6.2,30700000,28000000,2872,1,0,304861,328,34,47,483000
3,2014,6.3,106000000,110000000,3470,2,0,452917,2429,132,590,568000
4,2014,4.7,17300000,3500000,2310,2,0,3145573,12163,610,1082,1923800

In [21]:
rf_model = RandomForestClassifier()

In [22]:
rf_model.fit(df, target)

RandomForestClassifier()

In [23]:
preds = rf_model.predict(df)

In [24]:
accuracy = accuracy_score(target, preds)
print("Accuracy: ", accuracy)

Accuracy:  1.0