<a href="https://colab.research.google.com/github/jmohsbeck1/jpmc_mle/blob/week-Apr.-24/JPMC_Session6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Process of building a NN
1. Define the Model - define topology, network arch, etc. (creating a class)
* ...
# define the model
model = ...
2. Compile the model - loss function, optimization (Adam, sgd) Gradient Descent.  (instantiating a class into an object) - 
* https://www.tensorflow.org/api_docs/python/tf/keras/optimizers.  
The three most common loss functions are:
* https://www.tensorflow.org/api_docs/python/tf/keras/losses
* ‘binary_crossentropy‘ for binary classification
* ‘sparse_categorical_crossentropy‘ for multi-class classification
* ‘mse‘ (mean squared error) for regression
* Metrics: https://www.tensorflow.org/api_docs/python/tf/keras/metrics
* ...
# compile the model
model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])
3. Fit the model - epochs (loops through the training dataset) and the batch size: num of samples ni an epoch used to estimate the models error. Slow. Training Process... cpu intensive
* # fit the model
model.fit(X, y, epochs=100, batch_size=32, verbose=0)
4. Evaluation of the model
* ...
# evaluate the model
loss = model.evaluate(X, y, verbose=0)
5. Make Predictions
* ...
# make a prediction
yhat = model.predict(X)

In [ ]:
# https://raw.githubusercontent.com/fenago/datasets/main/iris.csv

# mlp for multiclass classification
from numpy import argmax
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
path = "https://raw.githubusercontent.com/fenago/datasets/main/iris.csv"
df = read_csv(path, header=None)
df.sample(5)

       0    1    2    3               4
112  6.8  3.0  5.5  2.1  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
42   4.4  3.2  1.3  0.2     Iris-setosa
108  6.7  2.5  5.8  1.8  Iris-virginica
23   5.1  3.3  1.7  0.5     Iris-setosa

In [ ]:
# split into input and output columns
X, y = df.values[:, :-1], df.values[:, -1]

In [ ]:
# ensure all data are floating point values
X = X.astype('float32')

In [ ]:
# encode strings to integer
y = LabelEncoder().fit_transform(y)

In [8]:
# split into train and test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(100, 4) (50, 4) (100,) (50,)